.app__header {
	background-color: var(--color-black);
}

.app__header-h1 {
	font-family: var(--font-base);
	color: var(--color-golden);
	letter-spacing: 0.01rem;
	line-height: 117px;
	font-size: 90px;
	font-weight: lighter;
}

.app__header-img img {
	width: 80%;
}
